<!DOCTYPE html>

<style>
p.one {
    border-style: solid;
    border-width: 5px;
}
</style>

<html>
<style>
html,div,center{
background-color: #a6a6a6;
}
</style>
<center>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<p class="one">
<div id="user_nav">
<% if user_signed_in? %>
Signed in as <%= current_user.name %>. Not you?
<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "Sign up", new_user_registration_path %> or
<%= link_to "Sign in", new_user_session_path %>
<% end %>
</p>

<body>
<head>
  <title>Img</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>

</div>
</center>
</html>
