<p id="notice"><%= notice %></p>
<h1>Coin Network</h1>

<table border = "1" style="width:20%">
        <tr>
                <td> Price BTC/USD: </td>
                <td> <%= "$" + @amount%> </td>

        </tr>
</table>

<%if @accounts.size != 0 %>
<table border = ".5">
  <thead>
    <tr>
      <th>Wallet Name</th>
      <th>Balance BTC</th>
     <th>Wallet address</th>
      <th>Last Three Transactions</th>
      <th>Destroy</th>
   
    </tr>
  </thead>
 
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
	<%if (account.user_id == current_user.id)%>
        <td><%= account.name %></td>
        <td><%= (@client.account(account.account_id)['balance'])['amount'] %></td>
	
	
	<%trans = (@client.account(account.account_id).transactions)%>

	<td> <%address = @client.account(account.account_id)%>
		
		<% adr =  address.addresses%>
                <% if(adr.count > 0)%>
	
		<%= (adr[0])['address']%>
		
		<%end%>
	  
		</td>

	<td>

	<%trans.each do |tr|%>

		<%if(tr['status'] == "pending")%>
		<%=tr['id'] + "  PENDING RECEIVING " +  tr['amount']['amount'] + " BTC" %>
		<br>
		<%else%>
		<%=tr['id'] + "SENT  " + tr['amount']['amount'].to_f.abs + " BTC" %>
		<br>
		<%end%>

	<%end%>
	</td>

	<% if false %>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
	<% end %>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
	<%end%>
  </tbody>
</table>
<%else%>
<br>

<%end%>

<table>
<%= form_tag(query_path, method: "get") do %>
<t>Enter wallet address:	<%=text_field_tag(:address)%> <tr>
<tr>Amount in BTC:	<%=text_field_tag(:amount)%><tr>
<tr>	<%= submit_tag("send coins")%><tr>
</table>
<%end%>
<br>
Create A New Wallet Account Please
<br>
<%= link_to 'New Account', new_account_path %>
