<!DOCTYPE html>
<html>
<p id="notice"><%= notice %></p>

<%if false%>
<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Account:</strong>
  <%= @account.account_id %>
</p>
<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>

Transaction Completed!
<%=link_to 'Back', root_url%>
<%end%>
</html>

