<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
<h1>Your Images:</h1>
	 <% @images.each do |image| %>
		<% if current_user.name == image.user.name %>
   			<div style="float:left">
    			<table>
      			<tr>
        		<td>
        		<%=link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image %>
      			<br>
			<%= link_to 'Edit', edit_image_path(image) %>
			<%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
      			</td>
			<br>   
      			</tr>
     			</table>
    			</div>
		<% end %>
 
	<% end %>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<center>
         <h2> Public Images: </h2>
</center>
         <% @images.each do |image| %>

		<% if current_user.name != image.user.name %>

		 <div style="float:left">
                        <table>
                        <tr>
                        <td>
                        <%=link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image %>
                        <br> <%= image.user.name %>
                        <br> 
                        <%= link_to 'Edit', edit_image_path(image) %>
                        <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </td>
			</tr>
                        </table>
                        </div>

		<% end %>
	<% end %>

<br>
<br>

	<%= link_to 'New Image', new_image_path %>
<%else%>
<h1>Public Images:</h1>
    <% @images.each do |image| %>
   <div style="float:left">
    <table>
      <tr>
        <td>
        <%=link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image %>
      <br> <%= image.user.name %>
       </td>
      </tr>
     </table>
    </div>
    <% end %>


<%end%>
