<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @image.filename %>
</p>

<p>
  <strong>User:</strong>
   <%= @image.user.name %><br>
  <%= image_tag @image.filename, size: "800x800", alt: @image.filename %>
</p>

<p>
<strong>Tags:</strong>
</p>
<% @tags.each do |tag| %>
   <%= tag.str %> <br>
 <%end%>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_image_path(@image) %> |
<% end %>
<%= link_to 'Back', images_path %>
