<style>
p.one {
    border-style: solid;
    border-width: 5px;
}
</style>

<p id="notice"><%= notice %></p>

<p> 

   <table style ="displaye: inline-block;"> 
   <tr>
   <%= image_tag @image.filename, size: "600x600", alt: @image.filename %>
   </tr>   
   <br>
   <strong>User:</strong>
   <%= @image.user.name %><br>
   
   </table>


<p class="one">
<strong>Tags:</strong>
<br>
<% @tags.each do |tag| %>
   <%= tag.str %> <br>
 <%end%>

<%= render 'tags/new' %>

</p>
<% if user_signed_in? %>

<%= link_to 'Edit', edit_image_path(@image) %> |
<% end %>
<%= link_to 'Back', images_path %>
